<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand">
        App Name
      </span>
      <div class="d-flex">
        <% if authenticated? %>
          <%= link_to "My profile", edit_password_path(Current.user.password_reset_token), class: "btn btn-outline-success me-2" %>
          <%= button_to "Sign Out", session_path, method: :delete, class: "btn btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
