<div class="col-md-<%= width %>">
  <div class="card text-center h-100">
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <h2 class="card-text"><%= count %></h2>
    </div>
  </div>
</div>