<div class="mb-3">
  <%= form.label :identifier, class: "form-label" %>
  <%= form.text_field :identifier, class: "form-control" %>
  <div class="form-text">The identifier is used as a subfolder name within the site public ead directory.</div>
</div>