<div class="mb-3">
  <%= form.label :identifier, "Folder", class: "form-label" %>
  <%= form.text_field :identifier, class: "form-control" %>
  <div class="form-text">Folder name to create within the site public ead directory.</div>
</div>
